---
title: DWP Design values
layout: product_page
productName: design-values
---

<% content_for :service_title do %>
  Design
<% end %>

<% content_for :service_link, '/design-values/' %>

<% content_for :header_links do %>
  <%= partial 'layouts/frontend/header_links' %>
<% end %>

<div class="masthead">
  <div class="hero">
    <div class="hero__content">
      <div class="hero__body">
        <p class="service-toolkit-link">Part of the <a href="/">DWP Service Toolkit</a></p>
        <h1 class="hero__title">Our design values</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="collection collection--values">
    <div class="grid-row">
      <div class="column-full">
        <p style="text-align: center;"><img src="/images/values-venn.jpg" alt="" class="noborder" style="max-width: 55%;"></p>
      </div>
    </div>
  </div>

</div>
