---
layout: product_page
productName: Service Toolkit
---
<% content_for :service_title do %>
  Service Toolkit
<% end %>

<% content_for :service_link, '/' %>

<div class="masthead">
  <div class="hero">
    <div class="hero__content">
      <div class="hero__body">
        <h1 class="hero__title">Design and build <br>DWP services</h1>
        <p class="hero__description">
          All you need to design, build and run DWP services. This supplements the GDS Service Toolkit.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="collection">
    <h2 id="standards" class="collection__title">Values, principles and strategy</h2>
    <p class="collection__description">Our principles, values and strategy for delivering better outcomes</p>
    <div class="grid-row">
      <div class="column-half">
        <h3 class="collection__link"><a href="https://values.dwp.digital">Design values</a></h3>
        <p class="collection__link-description">Guiding design principles and values for service design and delivery</p>
      </div>
      <div class="column-half">
        <h3 class="collection__link"><a href="https://pdus.dwp.digital">Product Development Units</a></h3>
        <p class="collection__link-description">(don't know what will be in here yet)</p>
      </div>
    </div>
  </div>
  <div class="collection">
    <h2 id="standards" class="collection__title">Design and Style</h2>
    <p class="collection__description">Resources for service and content design</p>
    <div class="grid-row">
      <div class="column-half">
        <h3 class="collection__link"><a href="http://patterns.dwp.digital">DWP Design System</a></h3>
        <p class="collection__link-description">Evidence-based solutions to common design problems</p>
      </div>
      <div class="column-half">
        <h3 class="collection__link"><a href="https://content.dwp.digital">Content Styleguide</a></h3>
        <p class="collection__link-description">Link description</p>
      </div>
    </div>
  </div>
  <div class="collection">
    <h2 id="standards" class="collection__title">Development and Technical Architecture</h2>
    <p class="collection__description">Software development and technical architecture resources</p>
    <div class="grid-row">
      <div class="column-half">
        <h3 class="collection__link"><a href="http://frontend.dwp.digital">DWP Frontend</a></h3>
        <p class="collection__link-description">Build tools and resources for developing DWP services</p>
      </div>
      <div class="column-half">
        <h3 class="collection__link"><a href="http://ta.dwp.digital">Technical Architecture Patterns</a></h3>
        <p class="collection__link-description">Patterns for technical architecture within DWP</p>
      </div>
    </div>
  </div>
</div>
