---
title:		Currency input
section:	Components
theme:		Form elements
status:		Approved
department: All
services: 	<a href="http://test">Apply for a Budgeting Loan</a>
aliases:    amount
---

##Overview

This component pre-fixes a label with a £ sign. Other denotation could also be used.

<div class="example">
	<h1 id="legend-heading" class="heading-large">You can apply for between £100 and £348 - How much do you need?</h1>
	<div id="example-question" class="form-group inline">
	    <span class="c-form-input-denote">£</span>
	    <input class="form-control c-form-input-denote__input form-control-1-4" aria-labelledby="legend-heading" type="text" name="example">
	</div>
</div>

## When to use this component

When you want to take a currency value from a user but do not want the £ symbol.

## How it works

### Standard example

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

<% partial "/layouts/example" do %><h1 id="legend-heading" class="heading-large">You can apply for between £100 and £348 - How much do you need?</h1>
	<div id="example-question" class="form-group inline">
			<span class="c-form-input-denote">£</span>
			<input class="form-control c-form-input-denote__input form-control-1-4" aria-labelledby="legend-heading" type="text" name="example">
	</div>
<% end %>

### Using

There is a [npm](https://www.npmjs.com/package/components.form-input-denote) module for the Sass for this component.

This can also be done in the prototype tool kit, this is an [exampe](https://github.com/htmlandbacon/prototype-examples/blob/master/app/assets/sass/application.scss).
<br />
<br />


```
// add module to your node dependencies
npm install components.form-input-denote --save
```

<br />
<br />

```
// import sass partial to your build
@import 'node_modules/components.form-input-denote/components.form-input-denote';
```

<br />
If you find an issue you can raise a pull request on [github](https://github.com/htmlandbacon/components.form-input-denote).

