---
title:		Currency input
section:	Components
theme:		Form elements
status:		Approved
department: All
aliases:    amount
---

##Overview

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

<div class="example">
	<h1 id="legend-heading" class="heading-large">You can apply for between £100 and £348 - How much do you need?</h1>
	<div id="example-question" class="form-group inline">
	    <span class="c-form-input-denote">£</span>
	    <input class="form-control c-form-input-denote__input form-control-1-4" aria-labelledby="legend-heading" type="text" name="example">
	</div>
</div>

## When to use this component

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

### When not to use this component

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

## How it works

### Standard example

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

<% partial "/layouts/example" do %><h1 id="legend-heading" class="heading-large">You can apply for between £100 and £348 - How much do you need?</h1>
<div id="example-question" class="form-group inline">
		<span class="c-form-input-denote">£</span>
		<input class="form-control c-form-input-denote__input form-control-1-4" aria-labelledby="legend-heading" type="text" name="example">
</div><% end %>

##Research on this component

Many iterations of this component have been tested across Gov.uk. Some observations from research are

- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
- Et el a Lorem ipsum dolor sit amet, consectetur.
- Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

Very little research has been done on the mobile presentation of this component.

## Related patterns

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
