---
title:		Buttons - Secondary
section:	Components
theme:		Form elements
status:		Approved
department: All
services: 	N/a
---

##Overview

On internal systems we may need to have buttons with in pages that activate a secondary action. This could be for add to a list or similar.

## When to use this component

We use a secondary button to perform an action within the page.


## How it works

This extends the standard GDS button.

### Variations

This is a grey example

<% partial "/layouts/example" do %>
    <button class="button button-add-another">This is a button</button>
<% end %>

This is a blue example

<% partial "/layouts/example" do %>
    <button class="button button-add-another--blue">This is a button</button>
<% end %>
