---
layout: design_patterns_overview
productName: Design Patterns
sectionNav: patterns
section: About
title: About the Design System
---

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="" style="padding-top: 15px;">About DWP Design System</h1>

    <p>The DWP Design System contains <a href="styles/colours/">styles</a>, <a href="components/alpha_and_beta_banners/">components</a>, and <a href="tasks/additional%20information/">patterns</a> to help you design DWP services.</p>

    <p>Use these resources to:</p>
    <ul>
      <li>make your service consistent with other DWP services</li>
      <li>learn from the research and experience of other service teams</li>
      <li>avoid repeating work that’s already been done</li>
    </ul>
  </div>

  <div class="column-full">

    <h2 class="">Suggested resources</h2>

    <div class="grid-row tile-wrapper">
      <div class="column-one-third tile__grid">
          <div class="tile">
            <h2><a href="patterns/styles/typography/">Currency input</a></h2>
            <p class="tile__section-link">Part of: <a href="patterns/components/form-elements/currency-input">Components</a></p>
            <a href="patterns/components/form-elements/currency-input" class="image-link"><img src="/images/tile-currencyinput.jpg" alt=""></a>
            <a class="tile__link" href="patterns/components/form-elements/currency-input"></a>
          </div>
      </div>
      <div class="column-one-third tile__grid">
          <div class="tile">
            <h2><a href="patterns/tasks/banking%20details/">Enter banking details</a></h2>
            <p class="tile__section-link">Part of: <a href="patterns/tasks/banking%20details/">Patterns</a></p>
            <a href="patterns/tasks/banking%20details/" class="image-link"><img src="/images/tile-bankdetails.jpg" alt=""></a>
            <a class="tile__link" href="patterns/tasks/banking%20details/"></a>
          </div>
      </div>
      <div class="column-one-third tile__grid">
          <div class="tile">
            <h2><a href="patterns/components/form-elements/buttons">Buttons - secondary</a></h2>
            <p class="tile__section-link">Part of: <a href="patterns/components/form-elements/buttons">Components</a></p>
            <a href="patterns/components/form-elements/buttons" class="image-link"><img src="/images/tile-buttonsecondary.jpg" alt=""></a>
            <a class="tile__link" href="patterns/components/form-elements/buttons"></a>
          </div>
      </div>
    </div>

  </div>

  <div class="column-two-thirds">
      <p>DWP Design Patterns are built and supported by a full time team at DWP in collaboration with the Government Digital Service.</p>
      <p>
        <a href="/design-patterns/backlog">Check our backlog to see what we're working on next</a>
      </p>
  </div>

</div>
