---
layout: design_patterns_overview
productName: Design Patterns
sectionNav: patterns
section: About
title: About the Design System
---

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="" style="padding-top: 15px;">About DWP Design System</h1>

    <p>The DWP Design System contains <a href="styles/colours/">styles</a>, <a href="components/alpha_and_beta_banners/">components</a>, and <a href="tasks/additional%20information/">patterns</a> to help you design DWP services.</p>

    <p>Use these resources to:</p>
    <ul>
      <li>make your service consistent with other DWP services</li>
      <li>learn from the research and experience of other service teams</li>
      <li>avoid repeating work that’s already been done</li>
    </ul>
  </div>

  <div class="column-full">

    <h2 class="">Suggested resources</h2>

    <div class="grid-row tile-wrapper">
      <div class="column-one-third tile__grid">
          <div class="tile">
            <h2><a href="styles/typography/">Add to list</a></h2>
            <p class="tile__section-link">Part of: <a href="styles/colours">Patterns</a></p>
            <a href="styles/typography/" class="image-link"><img src="/images/tile-typography.jpg" alt="Example of Typography"></a>
            <a class="tile__link" href="styles/typography/"></a>
          </div>
      </div>
    </div>

  </div>

  <div class="column-two-thirds">

      <p>The DWP Design System is supported by a full time team at the Government Digital Service. You can <a href="#">contact the team</a> if you have any questions or need support. You can also:</p>

      <ul>
        <li><a href="#">see a full list of styles, components, and patterns</a></li>
        <li><a href="#">check our backlog to see what we’re working on next</a></li>
      </ul>

</div>
</div>
