---
title: DWP Product Development Units
layout: product_page
productName: PDUs
---

<% content_for :service_title do %>
  Product Development
<% end %>

<% content_for :service_link, '/product-development-units/' %>

<% content_for :header_links do %>
  <%= partial 'layouts/frontend/header_links' %>
<% end %>

<div class="masthead">
  <div class="hero">
    <div class="hero__content">
      <div class="hero__body">
        <p class="service-toolkit-link">Part of the <a href="/">DWP Service Toolkit</a></p>
        <h1 class="hero__title">Our strategy to deliver outcomes for society</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="collection">
    <h2 id="standards" class="collection__title">DWP Product Development Units</h2>
    <div class="grid-row">
      <div class="column-half">
        <h3 class="collection__link"><a href="docs/workingage.html">Overview</a></h3>
        <p class="collection__link-description">What are Product Development Units (PDUs)?</p>
      </div>
      <div class="column-half">
        <h3 class="collection__link"><a href="/product-development-units/">Link text</a></h3>
        <p class="collection__link-description">Link description</p>
      </div>
    </div>
    <div class="grid-row">
      <div class="column-half">
        <h3 class="collection__link"><a href="/product-development-units/">Link text</a></h3>
        <p class="collection__link-description">Link description</p>
      </div>
      <div class="column-half">
        <h3 class="collection__link"><a href="/product-development-units/">Link text</a></h3>
        <p class="collection__link-description">Link description</p>
      </div>
    </div>
  </div>

</div>
