---
title: DWP Technical architecture
layout: product_page
productName: technical-architecture
---

<% content_for :service_title do %>
  Technical architecture
<% end %>

<% content_for :service_link, '/design-values/' %>

<% content_for :header_links do %>
  <%= partial 'layouts/frontend/header_links' %>
<% end %>

<div class="masthead">
  <div class="hero">
    <div class="hero__content">
      <div class="hero__body">
        <p class="service-toolkit-link">Part of the <a href="/">DWP Service Toolkit</a></p>
        <h1 class="hero__title">Technical architecture</h1>
        <p class="hero__description">A single resource for DWP technical architecture patterns</p>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="collection">

    <h2 id="govuk" class="collection__title">Content to follow</h2>

  </div>

</div>
