---
title: GOV.UK Frontend
layout: product_page
productName: Frontend
---

<% content_for :service_title do %>
  Frontend
<% end %>

<% content_for :service_link, '/frontend' %>

<% content_for :header_links do %>
  <%= partial 'layouts/frontend/header_links' %>
<% end %>

<div class="masthead">
  <div class="hero">
    <div class="hero__content">
      <div class="hero__body">
        <p class="service-toolkit-link">Part of the <a href="/">DWP Service Toolkit</a></p>
        <h1 class="hero__title">The web framework for DWP services</h1>
        <p class="hero__description">
          Build responsive, accessible web interfaces for GOV.UK and DWP internal services
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="grid-row">
    <div class="column-two-thirds">
      <section class="content-section">
        <h2 class="heading-medium content-section__first-heading">GOV.UK elements nunjucks</h2>
        <p>A set of Nunjucks components with defined schemas for use within DWP node or Jinja2 based services.</p>
        <p>
          <a href="https://www.npmjs.com/package/govuk-elements-nunjucks">View GOV.UK Elements Nunjucks on NPM</a>
        </p>
      </section>

      <section class="content-section content-section--with-top-border">
        <h2 class="heading-medium content-section__first-heading">DWP Frontend components</h2>
        <p>DWP specific components that extend those provided by The Government Digital Service for GOV.UK.</p>
        <h2 class="heading-small"><a href="https://www.npmjs.com/package/components.form-input-denote">Form input denote</a></h2>
        <p>
          The input denote component module simply adds a visual box treatment before or after an input.
        </p>
      </section>

      <section class="content-section content-section--with-top-border">
        <h2 class="heading-medium content-section__first-heading">DWP gulp starter kit</h2>
        <p>A selection of gulp tasks for working with GOV.UK and DWP assets</p>
        <p>
          <a href="https://github.com/htmlandbacon/gulp-starter-kit">View the code on Github</a>
        </p>

    </div>
  </div>
</div>
