---
title:		Inset text
section:	Components
theme:		Alerts and notifications
status:		Approved
department: All
services: 	N/a
---

##Overview

Bordered text is used to draw attention to important content on the page. This can appear within the flow of body content. This element is detailed in the Government Service Design Manual.

## When to use this component

Use this when you want to draw attention to information.

### Example

<% partial "/layouts/example" do %>
    <div class="panel panel-border-wide">
     It can take up to 8 weeks to register a lasting power of attorney if there are no mistakes in the application.
    </div>
<% end %>

