---
title:		Legal text
section:	Components
theme:		Alerts and notifications
status:		Approved
department: All
services: 	N/a
---

##Overview

You must call out anything that may affect the user personally or financially. This element is detailed in the Government Service Design Manual.

A border is not required around and it can be included anywhere within the main content of a page. Almost all transactional services will have this on a declaration page, warning of consequences of fraud.

## When to use this component

Use this when you need to call out legal text

### Examples

<% partial "/layouts/example" do %>
    <div class="notice">
        <i class="icon icon-important">
        <span class="visuallyhidden">Warning</span>
        </i>
        <strong class="bold-small">
        You can be fined up to &pound;5,000 if you don&rsquo;t register.
        </strong>
    </div>
<% end %>

<% partial "/layouts/example" do %>
    <div class="notice long">
    <i class="icon icon-important">
    <span class="visuallyhidden">Warning</span>
    </i>
    <p>
        <strong class="bold-small">
        You must repay any money you're asked to.
        </strong>
    </p>
    <p><strong class="bold-small">If you don't repay money when asked you could be taken to court, and your benefits reduced or money taken directly from your wages until your debt is repaid.</strong></p>
    </div>
<% end %>
