---
layout: product_page
productName: Service Toolkit
---
<% content_for :service_title do %>
  Service Toolkit
<% end %>

<% content_for :service_link, '/' %>

<div class="masthead">
  <div class="hero">
    <div class="hero__content">
      <div class="hero__body">
        <h1 class="hero__title">Design and build <br>DWP services</h1>
        <p class="hero__description">
          All you need to design, build and run DWP services. This supplements the <a href="http://gov.uk/service-toolkit">GDS Service Toolkit</a>.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="collection">
    <h2 id="standards" class="collection__title">Values, principles and strategy</h2>
    <p class="collection__description">Our principles, values and strategy for delivering better services</p>
    <div class="grid-row">
      <div class="column-full">
        <h3 class="collection__link"><a href="/design-values/">Design values</a></h3>
        <p class="collection__link-description">The design values we aspire to at DWP. These complement the Design Principles.</p>
      </div>
    </div>
  </div>
  <div class="collection">
    <h2 id="standards" class="collection__title">Design and Style</h2>
    <p class="collection__description">Resources you need to design DWP services</p>
    <div class="grid-row">
      <div class="column-half">
        <h3 class="collection__link"><a href="/design-patterns/">DWP Design System</a></h3>
        <p class="collection__link-description">Evidence-based solutions to common design problems</p>
      </div>
      <div class="column-half">
        <h3 class="collection__link"><a href="/content-styleguide/">DWP content style guide</a></h3>
        <p class="collection__link-description">The DWP style guide is for department specific conventions that aren't covered in the GOV.UK style guide.</p>
      </div>
    </div>
  </div>
  <div class="collection">
    <h2 id="standards" class="collection__title">Development and Technical Architecture</h2>
    <p class="collection__description">Software development and technical architecture resources</p>
    <div class="grid-row">
      <div class="column-half">
        <h3 class="collection__link"><a href="/frontend/">DWP Frontend</a></h3>
        <p class="collection__link-description">Build tools and resources for developing DWP services</p>
      </div>
      <div class="column-half">
        <h3 class="collection__link"><a href="/technical-architecture/">Technical Architecture patterns</a></h3>
        <p class="collection__link-description">Patterns for technical architecture within DWP</p>
      </div>
    </div>
  </div>
</div>
